{% extends "base.html" %}

{% block head_content %}
<style>
	#map {
		height: 80%;
		width: 100%;
	}
	
	#SideBarChart {
		width: 100%;
	}

	html, body {
		height: 100%;
	}
		
	.legend-fitrunner {
		position: relative;
	}
	.legend-fitrunner input {
		padding-left: 20px;
		border:0;
	}
	.legend-fitrunner .color-box {
		width: 10px;
		height: 10px;
		display: inline-block;
		background-color: #ccc;
		position: absolute;
		left: 5px;
		top: 10px;
	}		
</style>

<!-- Google Charts -->
<!-- Side Bar Chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
	google.charts.load('current', {packages: ['corechart']});
	google.charts.setOnLoadCallback(drawChart);

	
	function drawChart() {
		// Define the chart to be drawn.
		var data = google.visualization.arrayToDataTable([
			['Date',
			{% for f in fitrunners %}
				'{{f.fitbiter.fitbit_id}}',
			{% endfor %}
			],
			{% for data_date in data_table %}
				[
				{% for d in data_date %}
					{% if forloop.first %}
						'{{d}}',
					{% else %}
						{{d}},
					{% endif %}
				{% endfor %}
				],			
			{% endfor %}
		]);

		var options = {
			isStacked: 'percent',
			height: 300,
			legend: {position: 'top', maxLines: 3},
			hAxis: {
			minValue: 0,
			ticks: [0, .25, .5, .75, 1]
			},
			series:{
				{% for f in fitrunners %}
					{{forloop.counter0}}:{color:'{{f.colour}}'},
				{% endfor %}
				},
		};

	  // Instantiate and draw the chart.
	  var chart = new google.visualization.BarChart(document.getElementById('SideBarChart'));
	  chart.draw(data, options);
	}
</script>

<!-- Map Display-->
<script>	
	
	function displayRoute() {
	
		//Display the previous route data
		var map = new google.maps.Map(document.getElementById('map'));
		var marker; 
		var decodedPath;
		var strokecolor='';

		//Decode the saved route data
		{% for mappedrte in mappedrte_all %}
		
			var decodedPath=google.maps.geometry.encoding.decodePath("{{mappedrte.maprtedata}}");
			
			var runPath = new google.maps.Polyline({
				path: decodedPath,
				strokeColor:'{{mappedrte.fitrunner.colour}}',
				strokeWeight:4
				});

			runPath.setMap(map);
		{% endfor %} 
		
		var start = {lat: {{fitroute.start_lat}}, lng: {{fitroute.start_long}}};
		var end = {lat: {{fitroute.end_lat}}, lng: {{fitroute.end_long}}};			
			

		marker = new google.maps.Marker({
		position: start,
		map: map,
		label: 'Start',
		});				
		marker.setMap(map);
						
		marker = new google.maps.Marker({
			position: end,
			map: map,
			label: 'End',
			});		
		marker.setMap(map);
	
		//Zooms in on latest updates
		//Make the map the size of the latest route
		var bounds=new google.maps.LatLngBounds();
		bounds.extend(start);
		bounds.extend(end);
		map.fitBounds(bounds);
		}

</script>
{% endblock %}
{% block main_content%}
		<h2>{{fitroute.title}}</h2>

		<div class="row no-gutters h-100">
			<div class="col-4">
				<div id="SideBarChart"></div>
				<a href="{% url 'finishedroute' finished='delete' fitroute=fitroute.pk %}" class="btn btn-danger" role="button">Delete Route Information</a>
			</div>
			<div class="col-8">
				<div id="map"></div>
			</div>
		</div>
 {% endblock %}
 
 {% block body_script %} 
	<!-- Google Maps -->
	<script src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&libraries=geometry&places&callback=displayRoute" async defer></script>
{% endblock%}	
