<!DOCTYPE html>
<html>
	<head>
		<title>FitMap</title>
    	<meta name="viewport" content="initial-scale=1.0">
    	<meta charset="utf-8">
    	<style>
      	/* Always set the map height explicitly to define the size of the div
        element that contains the map. */
      	#map {
        	height: 100%;
      	}
      	/* Optional: Makes the sample page fill the window. */
      	html, body {
        	height: 100%;
        	margin: 0;
        	padding: 0;
      	}
    	</style>


		<script>
			
			//Show the route that has been run so far
			function showRoute() {
				
				//Decode the Polylines
				var decodedPath = google.maps.geometry.encoding.decodePath("{{fitmappedrte.maprtedata}}");
				
				//Create Path from the Polylines
				var runPath= new google.maps.Polyline({
					path: decodedPath,
					strokeColor: '#FF0000',
					strokeWeight:4
				});
				
				//Get the first and last position of the latest route
				var last_position=decodedPath.pop();
				var first_position=decodedPath[0];
				
				//Create the Map object
				var map = new google.maps.Map(document.getElementById('map'));
				
				//Create markers for the first and last position
				var last_marker = new google.maps.Marker({
					position: last_position,
					map: map
				});  
				var first_marker = new google.maps.Marker({
					position: first_position,
					map: map
				});  
				
				//Make the map the size of the latest route
				var bounds=new google.maps.LatLngBounds();
				bounds.extend(last_marker.getPosition());
				bounds.extend(first_marker.getPosition());
				map.fitBounds(bounds);
				
				//Display the latest run
				runPath.setMap(map);
			
			} //End of showRoute function
		
		
			// Initiates the Google Map
			function initMap() {
				var start = {lat: {{fitroute.start.lat}}, lng: {{fitroute.start.long}}};
				var mapOptions = { 
					zoom:15,
					center: start
				} // Close MapOptions
				var map = new google.maps.Map(document.getElementById('map'), mapOptions);

				var marker = new google.maps.Marker({
				position: start,
				map: map
				});  //Close marker
				
				calculateRoute(map);
		
				} //Close InitMap

			  function calculateRoute(map) {
			  	var directionsService = new google.maps.DirectionsService();
				var start = {lat: {{fitroute.start.lat}}, lng: {{fitroute.start.long}}};
				var end = {lat: {{fitroute.end.lat}}, lng: {{fitroute.end.long}}};
				var waypts=[
					{% for waypoint in fitroute.waypoints.all %}
						{location: new google.maps.LatLng({{waypoint.lat}},{{waypoint.long}}),stopover: false}
  					{% endfor %}
				];
				var request = {
					origin: start,
					destination: end,
					waypoints: waypts,
					travelMode: 'WALKING'
				}; // Request
				directionsService.route(request, function(result, status) {
					if (status == 'OK') {
						var latlongs=[];
						var z=0;
						var distance=25000;
						var dist=0;
						var olddist=0;
						var legs=result.routes[0].legs; //legs are point to point
						legs:
						for (i = 0; i < legs.length; i++) {
							var steps = legs[i].steps; //steps are steps in each leg
							steps:
							for (j=0; j < steps.length; j++) {
								var nextSegment = steps[j].path; //lat and long for each step
								segments:
								for (k=0; k < nextSegment.length; k++) {
									latlongs[z]=nextSegment[k];  //latlongs holds array of lat and long for each step
									if (z>0) {
									olddist=dist;
									dist+= google.maps.geometry.spherical.computeDistanceBetween(latlongs[z],latlongs[z-1]);
									}
									if (dist >= distance) {
										break legs;
									}
									z++;

								} //for k
							} // for j
						} // for i
					var percentDist=(distance-olddist)/(dist-olddist);
					var stopSpot = google.maps.geometry.spherical.interpolate(latlongs[z-1],latlongs[z],percentDist);
					latlongs[z]=stopSpot;    		
			
					var runPath= new google.maps.Polyline({
						path: latlongs,
						strokeColor: '#FF0000',
						strokeWeight:4
					});
					runPath.setMap(map);
					
					transferRteData(runPath,map);

					} else {     // if status == OK
						console.log('Not Ok');
						}
				});  // Close Directions Service Route
			  } // Close Calculate Route
	
			  function transferRteData(runPath,map) {
			  		var encodedPath = google.maps.geometry.encoding.encodePath(runPath.getPath());
			  		encodedPath=encodedPath.replace(/\\/g, "\\\\");
					var data =  {'encodedPath':encodedPath,};

					$.getJSON("{% url 'getfitmappedrte-view' %}", data, function(response){
						if(response === 'success'){ alert('Yay!'); }
						else{ alert('Error! :('); }
					});

			  } //Close Transfer Data

	
		</script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGj9lv67pbSIpSh-sZUGCINHE-3H5r_Z8&libraries=geometry,places"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	</head>
	
	<body>
  		<h3><a href="{% url 'homepage-index' %}">Homepage</a></h3>
		<h3><a href="{% url 'admin:index' %}">Admin</a></h3>
		<h3><a href="{% url 'fitdata-index' %}">Fitbit Data</a></h3>
		<h3><a href="{% url 'fitmap-view' %}">Fit Mapping</a></h3>
		<h3><a href="{% url 'display-fitmap-view' %}">Display Encoded Data</a></h2>
  		
  		<h2>{{fitroute.name}}</h2>
  		See the run so far. <br>
  		
  		<body onload="showRoute()">
  		
  		<!--- This will be for updating route -->
  		<button onclick="initMap()">Add to how much I have run of the route</button>
  		<div id="map"></div>
  		
  	 </body>	

</html>