<!DOCTYPE html>
<html>
  	<head>
    	<title>Display Fitbit Data</title>
    				
    	<!-- Load the AJAX API -->
    	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    	<script type="text/javascript">
    		
    		// Load the Visualizations API and the corechart package
    		google.charts.load('current', {'packages':['corechart']});
    		
    		// Set a callback to run when the Google Visualization API is loaded
    		google.charts.setOnLoadCallback(drawLineGraph);
    		
    		// Creates the chart and passes the data
		  	function drawLineGraph() {
				
				//Create the data table
				 var data = google.visualization.arrayToDataTable([
					 
					 ['Date',
					 {% for f in fitbiters %}
					 	'{{f}}',
					 {% endfor %}
					 ],
					 
					 {% for data in data_table %}
					 	{% for d in data %}
					 		{% if forloop.first %}
					 			['{{d|date:"D M d"}}',
					 		{% else %}
					 			{{d}},
					 		{% endif %}
					 	{% endfor %}
					 	],
					 {% endfor %}
				  ]);
				
				var options = {
			  		title: 'From {{ago|date:"l, F dS"}} until {{today|date:"l, F dS"}}',
			  		vAxis: { title: "Distance (KM)" },
					};
				
				// Instantiate and draw the chart.
				var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

				chart.draw(data, options);
		  	}
		  </script>
    		
  	</head>
  	<body>	
		<h3><a href="{% url 'homepage-index' %}">Homepage</a></h3>
		<h3><a href="{% url 'admin:index' %}">Admin</a></h3>  
		<div id="chart_div" style="width: 900px; height: 500px"></div>
	</body>
</html>
