<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
  
  	{% for fitbiter in fitbiters %}
		<a href="{% url 'getfitdata-view' fitbiter %}">Get Fitbit Data for {{fitbiter}}</a>
		<br>
	{% endfor %}
	<a href="{% url 'oauth2-view' %}">New Person</a>

    <div id="map"></div>

	<script>
      function initMap() {
      	var directionsService = new google.maps.DirectionsService();
		var milezero = {lat: 48.408792, lng: -123.369258};
		var mapOptions = { 
      		zoom:15,
      		center: milezero
        } // Close MapOptions
		var map = new google.maps.Map(document.getElementById('map'), mapOptions);

        var marker = new google.maps.Marker({
	  	position: milezero,
	  	map: map
		});  //Close marker

        calculateRoute(directionsService, map);
        
        
      } //Close InitMap
      
      function calculateRoute(directionsService, map) {
      	var start = {lat: 48.408792, lng: -123.369258};
      	var end = {lat:48.413070, lng: -123.367391};
      	var waypts = [
      		{location: '48.411140, -123.36191', stopover: false},
      		{location: '48.415910, -123.379036 ', stopover: false},
      	];
      	var request = {
      		origin: start,
      		destination: end,
      		waypoints: waypts,
      		travelMode: 'DRIVING'
      	}; // Request
      	directionsService.route(request, function(result, status) {
      		if (status == 'OK') {
      			var latlongs=[];
      			var z=0;
      			var distance=300;
      			var dist=0;
      			var olddist=0;
      			var legs=result.routes[0].legs; //legs are point to point
      			legs:
      			for (i = 0; i < legs.length; i++) {
      				var steps = legs[i].steps; //steps are steps in each leg
      				steps:
      				for (j=0; j < steps.length; j++) {
      					var nextSegment = steps[j].path; //lat and long for each step
      					segments:
      					for (k=0; k < nextSegment.length; k++) {
      						latlongs[z]=nextSegment[k];  //latlongs holds array of lat and long for each step
      						if (z>0) {
      						olddist=dist;
      						dist+= google.maps.geometry.spherical.computeDistanceBetween(latlongs[z],latlongs[z-1]);
      						}
      						if (dist >= distance) {
      							break legs;
      						}
      						z++;

      					} //for k
      				} // for j
      			} // for i
			var percentDist=(distance-olddist)/(dist-olddist);
			var stopSpot = google.maps.geometry.spherical.interpolate(latlongs[z-1],latlongs[z],percentDist);
   			latlongs[z]=stopSpot;    		
      		
      		var runPath= new google.maps.Polyline({
      			path: latlongs,
      			strokeColor: '#FF0000',
      			strokeWeight:4
      		});
      		runPath.setMap(map);

      		var distanceInMeters = google.maps.geometry.spherical.computeLength(runPath.getPath());

      		var encodeString = google.maps.geometry.encoding.encodePath(runPath.getPath());

			console.log(encodeString);
			var data =  {'encodeString':encodeString};
        	$.getJSON("{% url 'getstring-view' %}", data, function(response){
        		if(response === 'success'){ alert('Yay!'); }
       		 	else{ alert('Error! :('); }
    		});
			

      		} // if status == OK
      		
      	});  // Close Directions Service Route
      } // Close Calculate Route
      
      
      
      
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGj9lv67pbSIpSh-sZUGCINHE-3H5r_Z8&callback=initMap"
    async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </body>
</html>